@font-face {
  font-family: 'Myanmar 3';
  src: url('/public/fonts/Myanmar3/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'Zaw-gyi ONE';
  src: url('/public/fonts/Zaw-One/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'Padauk';
  src: url('/public/fonts/Padauk/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'Pyidaungsu';
  src: url('/public/fonts/Pyidaungsu/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'Pyidaungsu';
  src: url('/public/fonts/Pyidaungsu/Bold.ttf') format('truetype');
  font-weight: Bold;
  font-style: Bold;
}

@font-face {
  font-family: 'Pyidaungsu';
  src: url('/public/fonts/Pyidaungsu/Numbers.ttf') format('truetype');
  font-weight: Numbers;
  font-style: Numbers;
}

@font-face {
  font-family: 'Win Uni Innwa';
  src: url('/public/fonts/WinUniInna/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'Uni Burma';
  src: url('/public/fonts/UniBurma/Medium.ttf') format('truetype');
  font-weight: Medium;
  font-style: Medium;
}

@font-face {
  font-family: 'Uni Burma';
  src: url('/public/fonts/UniBurma/FreeHand.ttf') format('truetype');
  font-weight: FreeHand;
  font-style: FreeHand;
}

@font-face {
  font-family: 'Uni Burma';
  src: url('/public/fonts/UniBurma/FFSerif.ttf') format('truetype');
  font-weight: FFSerif;
  font-style: FFSerif;
}

@font-face {
  font-family: 'Uni Burma';
  src: url('/public/fonts/UniBurma/Medium_Serief.ttf') format('truetype');
  font-weight: Medium_Serief;
  font-style: Medium_Serief;
}

@font-face {
  font-family: 'Uni Burma';
  src: url('/public/fonts/UniBurma/Regular_MSSerif.ttf') format('truetype');
  font-weight: Regular_MSSerif;
  font-style: Regular_MSSerif;
}

@font-face {
  font-family: 'M-Myanmar1';
  src: url('/public/fonts/M-Myanmar1/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'M-Myanmar2';
  src: url('/public/fonts/M-Myanmar2/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'Kannaka';
  src: url('/public/fonts/Kannaka/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'Tharlon';
  src: url('/public/fonts/Tharlon/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'WinResearcher';
  src: url('/public/fonts/WinResearcher/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'WinTaungyi';
  src: url('/public/fonts/WinTaungyi/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'WinTaungyi';
  src: url('/public/fonts/WinTaungyi/Bold.ttf') format('truetype');
  font-weight: Bold;
  font-style: Bold;
}

@font-face {
  font-family: 'WinSittway';
  src: url('/public/fonts/WinSittway/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'WinYangon';
  src: url('/public/fonts/WnYangon/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'WinKalaw';
  src: url('/public/fonts/WinKalaw/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'WinKalaw';
  src: url('/public/fonts/WinKalaw/Bold.ttf') format('truetype');
  font-weight: Bold;
  font-style: Bold;
}

@font-face {
  font-family: 'WinInnwa';
  src: url('/public/fonts/WinInnwa/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'WinInnwa';
  src: url('/public/fonts/WinInnwa/Normal.ttf') format('truetype');
  font-weight: Normal;
  font-style: Normal;
}

@font-face {
  font-family: 'AungSan';
  src: url('/public/fonts/AungSan/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'CeCollection';
  src: url('/public/fonts/CeCollection/ClassicNormal.ttf') format('truetype');
  font-weight: ClassicNormal;
  font-style: ClassicNormal;
}

@font-face {
  font-family: 'CeCollection';
  src: url('/public/fonts/CeCollection/ClassicRegular.ttf') format('truetype');
  font-weight: ClassicRegular;
  font-style: ClassicRegular;
}

@font-face {
  font-family: 'CeCollection';
  src: url('/public/fonts/CeCollection/ExecelMedium.ttf') format('truetype');
  font-weight: ExecelMedium;
  font-style: ExecelMedium;
}

@font-face {
  font-family: 'CeCollection';
  src: url('/public/fonts/CeCollection/ExcelNormal.ttf') format('truetype');
  font-weight: ExcelNormal;
  font-style: ExcelNormal;
}

@font-face {
  font-family: 'CeCollection';
  src: url('/public/fonts/CeCollection/FreehandNormal.ttf') format('truetype');
  font-weight: FreehandNormal;
  font-style: FreehandNormal;
}

@font-face {
  font-family: 'CeCollection';
  src: url('/public/fonts/CeCollection/HandWriteNormal.ttf') format('truetype');
  font-weight: HandWriteNormal;
  font-style: HandWriteNormal;
}

@font-face {
  font-family: 'CeCollection';
  src: url('/public/fonts/CeCollection/HorizontalThickBold.ttf') format('truetype');
  font-weight: HorizontalThickBold;
  font-style: HorizontalThickBold;
}

@font-face {
  font-family: 'CeCollection';
  src: url('/public/fonts/CeCollection/Normal.ttf') format('truetype');
  font-weight: Normal;
  font-style: Normal;
}

@font-face {
  font-family: 'CeCollection';
  src: url('/public/fonts/CeCollection/RoyalOutline.ttf') format('truetype');
  font-weight: RoyalOutline;
  font-style: RoyalOutline;
}

@font-face {
  font-family: 'CeCollection';
  src: url('/public/fonts/CeCollection/TitleNormal.ttf') format('truetype');
  font-weight: TitleNormal;
  font-style: TitleNormal;
}

@font-face {
  font-family: 'CeCollection';
  src: url('/public/fonts/CeCollection/TransparentBold.ttf') format('truetype');
  font-weight: TransparentBold;
  font-style: TransparentBold;
}

@font-face {
  font-family: 'CeCollection';
  src: url('/public/fonts/CeCollection/TrueOutlineNormal.ttf') format('truetype');
  font-weight: TrueOutlineNormal;
  font-style: TrueOutlineNormal;
}

@font-face {
  font-family: 'WinBurmese';
  src: url('/public/fonts/WinBurmese/Bold.ttf') format('truetype');
  font-weight: Bold;
  font-style: Bold;
}

@font-face {
  font-family: 'WinBurmese';
  src: url('/public/fonts/WinBurmese/Normal.ttf') format('truetype');
  font-weight: Normal;
  font-style: Normal;
}

@font-face {
  font-family: 'WinPyinOoLwin';
  src: url('/public/fonts/WinPyinOoLwin/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'WinMandalay';
  src: url('/public/fonts/WinMandalay/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'WinYadanapon';
  src: url('/public/fonts/WinYadanapon/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'Myananda';
  src: url('/public/fonts/Myananda/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'KNU';
  src: url('/public/fonts/KNU/Normal.ttf') format('truetype');
  font-weight: Normal;
  font-style: Normal;
}

@font-face {
  font-family: 'karen-flower';
  src: url('/public/fonts/karen-flower/Normal.ttf') format('truetype');
  font-weight: Normal;
  font-style: Normal;
}

@font-face {
  font-family: 'ShweThay';
  src: url('/public/fonts/ShweThay/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'WinHaka';
  src: url('/public/fonts/WinHaka/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'WinHaka';
  src: url('/public/fonts/WinHaka/Normal.ttf') format('truetype');
  font-weight: Normal;
  font-style: Normal;
}

@font-face {
  font-family: 'ShwePro';
  src: url('/public/fonts/ShwePro/BoldItalic.ttf') format('truetype');
  font-weight: BoldItalic;
  font-style: BoldItalic;
}

@font-face {
  font-family: 'ShwePro';
  src: url('/public/fonts/ShwePro/Condense_Normal.ttf') format('truetype');
  font-weight: Condense_Normal;
  font-style: Condense_Normal;
}

@font-face {
  font-family: 'ShwePro';
  src: url('/public/fonts/ShwePro/Expand_Normal.ttf') format('truetype');
  font-weight: Expand_Normal;
  font-style: Expand_Normal;
}

@font-face {
  font-family: 'ShwePro';
  src: url('/public/fonts/ShwePro/ExtraHeavy_Bold.ttf') format('truetype');
  font-weight: ExtraHeavy_Bold;
  font-style: ExtraHeavy_Bold;
}

@font-face {
  font-family: 'ShwePro';
  src: url('/public/fonts/ShwePro/Heavy_Bold.ttf') format('truetype');
  font-weight: Heavy_Bold;
  font-style: Heavy_Bold;
}

@font-face {
  font-family: 'ShwePro';
  src: url('/public/fonts/ShwePro/Hollow_Bold.ttf') format('truetype');
  font-weight: Hollow_Bold;
  font-style: Hollow_Bold;
}

@font-face {
  font-family: 'ShwePro';
  src: url('/public/fonts/ShwePro/Italic.ttf') format('truetype');
  font-weight: Italic;
  font-style: Italic;
}

@font-face {
  font-family: 'ShwePro';
  src: url('/public/fonts/ShwePro/Medium_Bold.ttf') format('truetype');
  font-weight: Medium_Bold;
  font-style: Medium_Bold;
}

@font-face {
  font-family: 'ShwePro';
  src: url('/public/fonts/ShwePro/MediumHollow_Bold.ttf') format('truetype');
  font-weight: MediumHollow_Bold;
  font-style: MediumHollow_Bold;
}

@font-face {
  font-family: 'ShwePro';
  src: url('/public/fonts/ShwePro/Ribbon_BoldItalic.ttf') format('truetype');
  font-weight: Ribbon_BoldItalic;
  font-style: Ribbon_BoldItalic;
}

@font-face {
  font-family: 'ShwePro';
  src: url('/public/fonts/ShwePro/Serif_Bold.ttf') format('truetype');
  font-weight: Serif_Bold;
  font-style: Serif_Bold;
}

@font-face {
  font-family: 'ShwePro';
  src: url('/public/fonts/ShwePro/Tall_Normal.ttf') format('truetype');
  font-weight: Tall_Normal;
  font-style: Tall_Normal;
}

@font-face {
  font-family: 'ShwePro';
  src: url('/public/fonts/ShwePro/Wide_Bold.ttf') format('truetype');
  font-weight: Wide_Bold;
  font-style: Wide_Bold;
}

@font-face {
  font-family: 'KarenLawplah';
  src: url('/public/fonts/KarenLawplah/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'KarenLawplah';
  src: url('/public/fonts/KarenLawplah/Bold.ttf') format('truetype');
  font-weight: Bold;
  font-style: Bold;
}

@font-face {
  font-family: 'Suukyi';
  src: url('/public/fonts/Suukyi/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'WinLoikaw';
  src: url('/public/fonts/WinLoikaw/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'WinPhaan';
  src: url('/public/fonts/WinPhaan/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'WinMawlamyine';
  src: url('/public/fonts/WinMawlamyine/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'KarenHlaing';
  src: url('/public/fonts/KarenHlaing/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'KarenHlaing';
  src: url('/public/fonts/KarenHlaing/Normal.ttf') format('truetype');
  font-weight: Normal;
  font-style: Normal;
}

@font-face {
  font-family: 'KarenHlaing';
  src: url('/public/fonts/KarenHlaing/Medium.ttf') format('truetype');
  font-weight: Medium;
  font-style: Medium;
}

@font-face {
  font-family: 'KarenHlaing';
  src: url('/public/fonts/KarenHlaing/Normal_Bold.ttf') format('truetype');
  font-weight: Normal_Bold;
  font-style: Normal_Bold;
}

@font-face {
  font-family: 'KarenHlaing';
  src: url('/public/fonts/KarenHlaing/Light.ttf') format('truetype');
  font-weight: Light;
  font-style: Light;
}

@font-face {
  font-family: 'WinKyaukTan';
  src: url('/public/fonts/WinKyaukTan/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'WinKyaukTan';
  src: url('/public/fonts/WinKyaukTan/Normal.ttf') format('truetype');
  font-weight: Normal;
  font-style: Normal;
}

@font-face {
  font-family: 'WinKyaukTan';
  src: url('/public/fonts/WinKyaukTan/A.ttf') format('truetype');
  font-weight: A;
  font-style: A;
}

@font-face {
  font-family: 'WinInnLay';
  src: url('/public/fonts/WinInnLay/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'WinInnLay';
  src: url('/public/fonts/WinInnLay/Normal.ttf') format('truetype');
  font-weight: Normal;
  font-style: Normal;
}

@font-face {
  font-family: 'WinInnLay';
  src: url('/public/fonts/WinInnLay/A.ttf') format('truetype');
  font-weight: A;
  font-style: A;
}

@font-face {
  font-family: 'Karen3-0';
  src: url('/public/fonts/Karen3-0/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'WinKyaeMone';
  src: url('/public/fonts/WinKyaeMone/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'WinKyaeMone';
  src: url('/public/fonts/WinKyaeMone/A.ttf') format('truetype');
  font-weight: A;
  font-style: A;
}

@font-face {
  font-family: 'WinYaway';
  src: url('/public/fonts/WinYaway/Heavy.ttf') format('truetype');
  font-weight: Heavy;
  font-style: Heavy;
}

@font-face {
  font-family: 'WinThanLyin';
  src: url('/public/fonts/WinThanLyin/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'WinThanLyin';
  src: url('/public/fonts/WinThanLyin/A.ttf') format('truetype');
  font-weight: A;
  font-style: A;
}

@font-face {
  font-family: 'WinZin';
  src: url('/public/fonts/WinZin/ExtraHeavy.ttf') format('truetype');
  font-weight: ExtraHeavy;
  font-style: ExtraHeavy;
}

@font-face {
  font-family: 'LmYadanapon';
  src: url('/public/fonts/LmYadanapon/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'LmShweMinthamee';
  src: url('/public/fonts/LmShweMinthamee/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'LmYadana ';
  src: url('/public/fonts/LmYadana /Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'LmMyaNanda';
  src: url('/public/fonts/LmMyaNanda/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'LmZarmaniHeavy';
  src: url('/public/fonts/LmZarmaniHeavy/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'LmLwin';
  src: url('/public/fonts/LmLwin/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'LmMaNinPhu';
  src: url('/public/fonts/LmMaNinPhu/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'LmChaTateLay';
  src: url('/public/fonts/LmChaTateLay/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'AcademyFlowerTrue';
  src: url('/public/fonts/AcademyFlowerTrue/Italic.ttf') format('truetype');
  font-weight: Italic;
  font-style: Italic;
}

@font-face {
  font-family: 'WinChoNew';
  src: url('/public/fonts/WinChoNew/A.ttf') format('truetype');
  font-weight: A;
  font-style: A;
}

@font-face {
  font-family: 'A_TypeWriter';
  src: url('/public/fonts/A_TypeWriter/Normal.ttf') format('truetype');
  font-weight: Normal;
  font-style: Normal;
}

@font-face {
  font-family: 'A_TypeWriter';
  src: url('/public/fonts/A_TypeWriter/Bold.ttf') format('truetype');
  font-weight: Bold;
  font-style: Bold;
}

@font-face {
  font-family: 'WinTagaung';
  src: url('/public/fonts/WinTagaung/Normal.ttf') format('truetype');
  font-weight: Normal;
  font-style: Normal;
}

@font-face {
  font-family: 'Perpetua';
  src: url('/public/fonts/Perpetua/Italic.ttf') format('truetype');
  font-weight: Italic;
  font-style: Italic;
}

@font-face {
  font-family: 'Perpetua';
  src: url('/public/fonts/Perpetua/BoldItalic.ttf') format('truetype');
  font-weight: BoldItalic;
  font-style: BoldItalic;
}

@font-face {
  font-family: 'Perpetua';
  src: url('/public/fonts/Perpetua/TtilingMT_Bold.ttf') format('truetype');
  font-weight: TtilingMT_Bold;
  font-style: TtilingMT_Bold;
}

@font-face {
  font-family: 'Perpetua';
  src: url('/public/fonts/Perpetua/TitlingMT_Light.ttf') format('truetype');
  font-weight: TitlingMT_Light;
  font-style: TitlingMT_Light;
}

@font-face {
  font-family: 'WinBago';
  src: url('/public/fonts/WinBago/A.ttf') format('truetype');
  font-weight: A;
  font-style: A;
}

@font-face {
  font-family: 'U4AhLone';
  src: url('/public/fonts/U4AhLone/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'U4Bahan';
  src: url('/public/fonts/U4Bahan/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'U4BoTaTaung';
  src: url('/public/fonts/U4bBoTaTaung/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'U4DagonMyoThit';
  src: url('/public/fonts/U4DagonMyoThit/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'U4KaMarYut';
  src: url('/public/fonts/U4KaMarYut/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'U4LanMaDaw';
  src: url('/public/fonts/U4LanMaDaw/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'U4LaTha';
  src: url('/public/fonts/U4LaTha/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'U4Mingalardon';
  src: url('/public/fonts/U4Mingalardon/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'U4PaZunDaung';
  src: url('/public/fonts/U4PaZunDaung/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'U4ThaKeTa';
  src: url('/public/fonts/U4ThaKeTa/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'A_Pagan';
  src: url('/public/fonts/A_Pagan/Normal.ttf') format('truetype');
  font-weight: Normal;
  font-style: Normal;
}

@font-face {
  font-family: 'A_Pagan';
  src: url('/public/fonts/A_Pagan/Heavy.ttf') format('truetype');
  font-weight: Heavy;
  font-style: Heavy;
}

@font-face {
  font-family: 'KingPress';
  src: url('/public/fonts/KingPress/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'ArtTrue';
  src: url('/public/fonts/ArtTrue/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'ArtTrue';
  src: url('/public/fonts/ArtTrue/Italic.ttf') format('truetype');
  font-weight: Italic;
  font-style: Italic;
}

@font-face {
  font-family: 'WinThaYeyKitTaRa';
  src: url('/public/fonts/WinThaYeyKitTaRa/A.ttf') format('truetype');
  font-weight: A;
  font-style: A;
}

@font-face {
  font-family: 'AeyarModernTrue';
  src: url('/public/fonts/AeyarModernTrue/Bold.ttf') format('truetype');
  font-weight: Bold;
  font-style: Bold;
}

@font-face {
  font-family: 'AeyarModernTrue';
  src: url('/public/fonts/AeyarModernTrue/Italic.ttf') format('truetype');
  font-weight: Italic;
  font-style: Italic;
}

@font-face {
  font-family: 'AeyarModernTrue';
  src: url('/public/fonts/AeyarModernTrue/BoldItalic.ttf') format('truetype');
  font-weight: BoldItalic;
  font-style: BoldItalic;
}

@font-face {
  font-family: 'AeyarModernTrue';
  src: url('/public/fonts/AeyarModernTrue/Normal.ttf') format('truetype');
  font-weight: Normal;
  font-style: Normal;
}

@font-face {
  font-family: 'Image';
  src: url('/public/fonts/Image/Normal.ttf') format('truetype');
  font-weight: Normal;
  font-style: Normal;
}

@font-face {
  font-family: 'KgMyanmar';
  src: url('/public/fonts/KgMyanmar/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'WinMonotype';
  src: url('/public/fonts/WinMonotype/A.ttf') format('truetype');
  font-weight: A;
  font-style: A;
}

@font-face {
  font-family: 'KingYoma';
  src: url('/public/fonts/KingYoma/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'WinCourier';
  src: url('/public/fonts/WinCourier/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'WinHanPagan';
  src: url('/public/fonts/WInHanPagan/A.ttf') format('truetype');
  font-weight: A;
  font-style: A;
}

@font-face {
  font-family: 'SakPeacock';
  src: url('/public/fonts/SakPeacock/Normal.ttf') format('truetype');
  font-weight: Normal;
  font-style: Normal;
}

@font-face {
  font-family: 'AyarNadiTrue';
  src: url('/public/fonts/AyarNadiTrue/Normal.ttf') format('truetype');
  font-weight: Normal;
  font-style: Normal;
}

@font-face {
  font-family: 'AyarNadiTrue';
  src: url('/public/fonts/AyarNadiTrue/Italic.ttf') format('truetype');
  font-weight: Italic;
  font-style: Italic;
}

@font-face {
  font-family: 'WinPonnyaCond';
  src: url('/public/fonts/WinPonnyaCond/Light.ttf') format('truetype');
  font-weight: Light;
  font-style: Light;
}

@font-face {
  font-family: 'WinPonnyaCond';
  src: url('/public/fonts/WinPonnyaCond/Bold.ttf') format('truetype');
  font-weight: Bold;
  font-style: Bold;
}

@font-face {
  font-family: 'WinPonnyaCond';
  src: url('/public/fonts/WinPonnyaCond/ExtraBold.ttf') format('truetype');
  font-weight: ExtraBold;
  font-style: ExtraBold;
}

@font-face {
  font-family: 'HanNweThaKi';
  src: url('/public/fonts/HanNweThaKi/Normal.ttf') format('truetype');
  font-weight: Normal;
  font-style: Normal;
}

@font-face {
  font-family: 'HanOvelInserat';
  src: url('/public/fonts/HanOvelInserat/Heavy.ttf') format('truetype');
  font-weight: Heavy;
  font-style: Heavy;
}

@font-face {
  font-family: 'HanPoppa';
  src: url('/public/fonts/HanPoppa/Heavy.ttf') format('truetype');
  font-weight: Heavy;
  font-style: Heavy;
}

@font-face {
  font-family: 'WinThanLwin';
  src: url('/public/fonts/WinThanLwin/Bold.ttf') format('truetype');
  font-weight: Bold;
  font-style: Bold;
}

@font-face {
  font-family: 'WinSuuKyi';
  src: url('/public/fonts/WinSuuKyi/Normal.ttf') format('truetype');
  font-weight: Normal;
  font-style: Normal;
}

@font-face {
  font-family: 'WinSuuKyi';
  src: url('/public/fonts/WinSuuKyi/Italic.ttf') format('truetype');
  font-weight: Italic;
  font-style: Italic;
}

@font-face {
  font-family: 'Harrington';
  src: url('/public/fonts/Harrington/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'Burma';
  src: url('/public/fonts/Burma/Normal.ttf') format('truetype');
  font-weight: Normal;
  font-style: Normal;
}

@font-face {
  font-family: 'Popa';
  src: url('/public/fonts/Popa/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'InGyin';
  src: url('/public/fonts/InGyin/Normal.ttf') format('truetype');
  font-weight: Normal;
  font-style: Normal;
}

@font-face {
  font-family: 'A_Rose';
  src: url('/public/fonts/A_Rose/Normal.ttf') format('truetype');
  font-weight: Normal;
  font-style: Normal;
}

@font-face {
  font-family: 'AcademyThickTrue';
  src: url('/public/fonts/AcademyThickTrue/Normal.ttf') format('truetype');
  font-weight: Normal;
  font-style: Normal;
}

@font-face {
  font-family: 'AcademyThickTrue';
  src: url('/public/fonts/AcademyThickTrue/Bold.ttf') format('truetype');
  font-weight: Bold;
  font-style: Bold;
}

@font-face {
  font-family: 'AcademyThickTrue';
  src: url('/public/fonts/AcademyThickTrue/Italic.ttf') format('truetype');
  font-weight: Italic;
  font-style: Italic;
}

@font-face {
  font-family: 'AcademyThickTrue';
  src: url('/public/fonts/AcademyThickTrue/BoldItalic.ttf') format('truetype');
  font-weight: BoldItalic;
  font-style: BoldItalic;
}

@font-face {
  font-family: 'WinCho';
  src: url('/public/fonts/WinCho /A.ttf') format('truetype');
  font-weight: A;
  font-style: A;
}

@font-face {
  font-family: 'WinCircle';
  src: url('/public/fonts/WinCircle/Bold.ttf') format('truetype');
  font-weight: Bold;
  font-style: Bold;
}

@font-face {
  font-family: 'WinCircle';
  src: url('/public/fonts/WinCircle/Medium.ttf') format('truetype');
  font-weight: Medium;
  font-style: Medium;
}

@font-face {
  font-family: 'WinCircle';
  src: url('/public/fonts/WinCircle/ExtraBold.ttf') format('truetype');
  font-weight: ExtraBold;
  font-style: ExtraBold;
}

@font-face {
  font-family: 'ShweYee';
  src: url('/public/fonts/ShweYee/ExtraLight.ttf') format('truetype');
  font-weight: ExtraLight;
  font-style: ExtraLight;
}

@font-face {
  font-family: 'HarlowSolid';
  src: url('/public/fonts/HarlowSolid/Italic.ttf') format('truetype');
  font-weight: Italic;
  font-style: Italic;
}

@font-face {
  font-family: 'WinTypeWriter';
  src: url('/public/fonts/WinTypeWriter/Normal.ttf') format('truetype');
  font-weight: Normal;
  font-style: Normal;
}

@font-face {
  font-family: 'WinTypeWriter';
  src: url('/public/fonts/WinTypeWriter/Bold.ttf') format('truetype');
  font-weight: Bold;
  font-style: Bold;
}

@font-face {
  font-family: 'WinTypeWriter';
  src: url('/public/fonts/WinTypeWriter/ExtraBold.ttf') format('truetype');
  font-weight: ExtraBold;
  font-style: ExtraBold;
}

@font-face {
  font-family: 'AeyarNadiPlainTrue';
  src: url('/public/fonts/AeyarNadiPlainTrue/Normal.ttf') format('truetype');
  font-weight: Normal;
  font-style: Normal;
}

@font-face {
  font-family: 'AeyarNadiPlainTrue';
  src: url('/public/fonts/AeyarNadiPlainTrue/Italic.ttf') format('truetype');
  font-weight: Italic;
  font-style: Italic;
}

@font-face {
  font-family: 'WinHlaing';
  src: url('/public/fonts/WinHlaing/Medium.ttf') format('truetype');
  font-weight: Medium;
  font-style: Medium;
}

@font-face {
  font-family: 'WinHlaing';
  src: url('/public/fonts/WinHlaing/.ttf') format('truetype');
  font-weight: ;
  font-style: ;
}

@font-face {
  font-family: 'WinDawei';
  src: url('/public/fonts/WinDawei/A.ttf') format('truetype');
  font-weight: A;
  font-style: A;
}

@font-face {
  font-family: 'A_Pinya';
  src: url('/public/fonts/A_Pinya/Normal.ttf') format('truetype');
  font-weight: Normal;
  font-style: Normal;
}

@font-face {
  font-family: 'WinPyuCond';
  src: url('/public/fonts/WinPhyuCond/Normal.ttf') format('truetype');
  font-weight: Normal;
  font-style: Normal;
}

@font-face {
  font-family: 'WinHan ';
  src: url('/public/fonts/WinHan /Normal.ttf') format('truetype');
  font-weight: Normal;
  font-style: Normal;
}

@font-face {
  font-family: 'WorldNet';
  src: url('/public/fonts/WorldNet/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'KTO';
  src: url('/public/fonts/KTO/KTO_1.ttf') format('truetype');
  font-weight: KTO_1;
  font-style: KTO_1;
}

@font-face {
  font-family: 'KTO';
  src: url('/public/fonts/KTO/KTO_2.ttf') format('truetype');
  font-weight: KTO_2;
  font-style: KTO_2;
}

@font-face {
  font-family: 'KTO';
  src: url('/public/fonts/KTO/KTO_3.ttf') format('truetype');
  font-weight: KTO_3;
  font-style: KTO_3;
}

@font-face {
  font-family: 'KTO';
  src: url('/public/fonts/KTO/KTO_4.ttf') format('truetype');
  font-weight: KTO_4;
  font-style: KTO_4;
}

@font-face {
  font-family: 'KTO';
  src: url('/public/fonts/KTO/KTO_5.ttf') format('truetype');
  font-weight: KTO_5;
  font-style: KTO_5;
}

@font-face {
  font-family: 'KgThunder';
  src: url('/public/fonts/KgThunder/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'KgThunder';
  src: url('/public/fonts/KgThunder/.ttf') format('truetype');
  font-weight: ;
  font-style: ;
}

@font-face {
  font-family: 'WorldMath';
  src: url('/public/fonts/WorldMath/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'WinHeho';
  src: url('/public/fonts/WinHeho/A.ttf') format('truetype');
  font-weight: A;
  font-style: A;
}

@font-face {
  font-family: 'SakRoyal';
  src: url('/public/fonts/SakRoyal/Normal.ttf') format('truetype');
  font-weight: Normal;
  font-style: Normal;
}

@font-face {
  font-family: 'SakPadamya';
  src: url('/public/fonts/SakPadamya/Noraml.ttf') format('truetype');
  font-weight: Noraml;
  font-style: Noraml;
}

@font-face {
  font-family: 'SakTwoLine';
  src: url('/public/fonts/SakTwoLine/Normal.ttf') format('truetype');
  font-weight: Normal;
  font-style: Normal;
}

@font-face {
  font-family: 'SakThick';
  src: url('/public/fonts/SakThick/Normal.ttf') format('truetype');
  font-weight: Normal;
  font-style: Normal;
}

@font-face {
  font-family: 'WinChin';
  src: url('/public/fonts/WinChin/A.ttf') format('truetype');
  font-weight: A;
  font-style: A;
}

@font-face {
  font-family: 'WinEllipse';
  src: url('/public/fonts/WinEllipse/ExtraHeavy.ttf') format('truetype');
  font-weight: ExtraHeavy;
  font-style: ExtraHeavy;
}

@font-face {
  font-family: 'SakSeinArka';
  src: url('/public/fonts/SakSeinArka/Normal.ttf') format('truetype');
  font-weight: Normal;
  font-style: Normal;
}

@font-face {
  font-family: 'Ha2Line';
  src: url('/public/fonts/Ha2Line/Normal.ttf') format('truetype');
  font-weight: Normal;
  font-style: Normal;
}

@font-face {
  font-family: 'WinLaSho';
  src: url('/public/fonts/WinLaSho/A.ttf') format('truetype');
  font-weight: A;
  font-style: A;
}

@font-face {
  font-family: 'WinMap';
  src: url('/public/fonts/WinMap/Normal.ttf') format('truetype');
  font-weight: Normal;
  font-style: Normal;
}

@font-face {
  font-family: 'WinPyu ';
  src: url('/public/fonts/WinPyu/Normal.ttf') format('truetype');
  font-weight: Normal;
  font-style: Normal;
}

@font-face {
  font-family: 'H2Lines';
  src: url('/public/fonts/H2Lines/Normal.ttf') format('truetype');
  font-weight: Normal;
  font-style: Normal;
}

@font-face {
  font-family: 'WinEra';
  src: url('/public/fonts/WinEra/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'WhPonnya';
  src: url('/public/fonts/WhPonnya/Bold.ttf') format('truetype');
  font-weight: Bold;
  font-style: Bold;
}

@font-face {
  font-family: 'WhPonnya';
  src: url('/public/fonts/WhPonnya/Light.ttf') format('truetype');
  font-weight: Light;
  font-style: Light;
}

@font-face {
  font-family: 'Kg';
  src: url('/public/fonts/Kg/Normal.ttf') format('truetype');
  font-weight: Normal;
  font-style: Normal;
}

@font-face {
  font-family: 'KgOvalflat';
  src: url('/public/fonts/KgOvalflat/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'KgChit';
  src: url('/public/fonts/KgChit/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'KgFuncy';
  src: url('/public/fonts/KgFuncy/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'KgNand';
  src: url('/public/fonts/KgNand/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'MasterpieceDesign';
  src: url('/public/fonts/MasterpieceDesign/Bold.ttf') format('truetype');
  font-weight: Bold;
  font-style: Bold;
}

@font-face {
  font-family: 'MasterpieceDesign';
  src: url('/public/fonts/MasterpieceDesign/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'MasterpieceDesignOutline';
  src: url('/public/fonts/MasterpieceDesignOutline/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'MasterpieceDiploma';
  src: url('/public/fonts/MasterpieceDiploma/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'MasterpieceDiplomaOutline';
  src: url('/public/fonts/MasterpieceDiplomaOutline/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'MasterpieceFreehand';
  src: url('/public/fonts/MasterpieceFreehand/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'MasterpieceHand';
  src: url('/public/fonts/MasterpieceHand/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'MasterpieceKids';
  src: url('/public/fonts/MasterpieceKids/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'MasterpieceNormal';
  src: url('/public/fonts/MasterpieceNormal/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'MasterpieceNormal';
  src: url('/public/fonts/MasterpieceNormal/Bold.ttf') format('truetype');
  font-weight: Bold;
  font-style: Bold;
}

@font-face {
  font-family: 'MasterpieceNormalOutline';
  src: url('/public/fonts/MasterpieceNormalOutline/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'MasterpieceOctagon';
  src: url('/public/fonts/MasterpieceOctagon/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'MasterpieceOctagonOutline';
  src: url('/public/fonts/MasterpieceOctagonOutline/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'MasterpieceOctagonCrack';
  src: url('/public/fonts/MasterpieceOctagonCrack/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'MasterpieceOctangonLines';
  src: url('/public/fonts/MasterpieceOctagonLines/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'MasterpieceOval';
  src: url('/public/fonts/MasterpieceOval/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'MasterpieceRectangle';
  src: url('/public/fonts/MasterpieceRectangle/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'MasterpieceRectangleOutline';
  src: url('/public/fonts/MasterpieceRectangleOutline/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'MasterpieceRound';
  src: url('/public/fonts/MasterpieceRound/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'MasterpieceRound';
  src: url('/public/fonts/MasterpieceRound/Bold.ttf') format('truetype');
  font-weight: Bold;
  font-style: Bold;
}

@font-face {
  font-family: 'MasterpieceSemiOval';
  src: url('/public/fonts/MasterpieceSemiOval/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'MasterpieceSemiOvalOutline';
  src: url('/public/fonts/MasterpieceSemiOvalOutline/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'MasterpieceSemiOvalOutline';
  src: url('/public/fonts/MasterpieceSemiOvalOutline/.ttf') format('truetype');
  font-weight: ;
  font-style: ;
}

@font-face {
  font-family: 'MasterpieceShade';
  src: url('/public/fonts/MasterpieceShade/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'MasterpieceShadeOutline';
  src: url('/public/fonts/MasterpieceShadeOutline/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'MasterpieceStroke';
  src: url('/public/fonts/MasterpieceStroke/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'MasterpieceStrokeTwin';
  src: url('/public/fonts/MasterpieceStrokeTwin/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'MasterpieceV0Stroke';
  src: url('/public/fonts/MasterpieceV0Stroke/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}

@font-face {
  font-family: 'MasterpieceV0StrokeTwin';
  src: url('/public/fonts/MasterpieceV0StrokeTwin/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
}