@font-face {
  font-family: 'Myanmar-3';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/Myanmar3/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'Padauk';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/Padauk/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'Pyidaungsu';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/Pyidaungsu/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'Pyidaungsu';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/Pyidaungsu/Bold.ttf') format('truetype');
  font-weight: Bold;
  font-style: Bold;
  font-display: swap;
}

@font-face {
  font-family: 'Pyidaungsu';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/Pyidaungsu/Numbers.ttf') format('truetype');
  font-weight: Numbers;
  font-style: Numbers;
  font-display: swap;
}

@font-face {
  font-family: 'Win-Uni-Innwa';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/WinUniInna/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'Uni-Burma';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/UniBurma/Medium.ttf') format('truetype');
  font-weight: Medium;
  font-style: Medium;
  font-display: swap;
}

@font-face {
  font-family: 'Uni-Burma';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/UniBurma/FreeHand.ttf') format('truetype');
  font-weight: FreeHand;
  font-style: FreeHand;
  font-display: swap;
}

@font-face {
  font-family: 'Uni-Burma';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/UniBurma/FFSerif.ttf') format('truetype');
  font-weight: FFSerif;
  font-style: FFSerif;
  font-display: swap;
}

@font-face {
  font-family: 'Uni-Burma';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/UniBurma/Medium_Serief.ttf') format('truetype');
  font-weight: Medium_Serief;
  font-style: Medium_Serief;
  font-display: swap;
}

@font-face {
  font-family: 'Uni-Burma';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/UniBurma/Regular_MSSerif.ttf') format('truetype');
  font-weight: Regular_MSSerif;
  font-style: Regular_MSSerif;
  font-display: swap;
}

@font-face {
  font-family: 'Tharlon';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/Tharlon/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'WinResearcher';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/WinResearcher/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'WinYangon';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/WnYangon/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'AungSan';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/AungSan/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'ShweThway';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/ShweThway/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'KingYoma';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/KingYoma/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'WinMap';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/WinMap/Normal.ttf') format('truetype');
  font-weight: Normal;
  font-style: Normal;
  font-display: swap;
}

@font-face {
  font-family: 'MyanmarYinmar';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/MyanmarYinmar/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MyanmarAhgoun';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/MyanmarAhgoun/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MyanmarChatu';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/MyanmarChatu/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MyanmarChatu';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/MyanmarChatu/Light.ttf') format('truetype');
  font-weight: Light;
  font-style: Light;
  font-display: swap;
}

@font-face {
  font-family: 'MyanmarGantgaw';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/MyanmarGantgaw/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MyanmarKhyay';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/MyanmarKhyay/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MyanmarKuttar';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/MyanmarKuttar/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MyanmarNayone';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/MyanmarNayone/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MyanmarNjaun';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/MyanmarNjaun/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MyanmarPauklay';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/MyanmarPauklay/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MyanmarPhetsot';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/MyanmarPhetsot/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MyanmarPhiksel';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/MyanmarPhiksel/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MyanmarPhiksel';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/MyanmarPhiksel/Smooth.ttf') format('truetype');
  font-weight: Smooth;
  font-style: Smooth;
  font-display: swap;
}

@font-face {
  font-family: 'MyanmarPonenyet';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/MyanmarPonenyet/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MyanmarSabae';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/MyanmarSabae/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MyanmarSagar';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/MyanmarSagar/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MyanmarSanpya';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/MyanmarSanpya/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MynmarSansPro';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/MyanmarSansPro/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MyanmarSquareLight';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/MyanmarSquareLight/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MyanmarTagu';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/MyanmarTagu/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MyanmarThuriya';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/MyanmarThuriya/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MyanmarWaso';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/MyanmarWaso/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'SM07_Virus';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/SM07_Virus/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSansMyanmar';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/NotoSansMyanmar/Black.ttf') format('truetype');
  font-weight: Black;
  font-style: Black;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSansMyanmar';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/NotoSansMyanmar/Bold.ttf') format('truetype');
  font-weight: Bold;
  font-style: Bold;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSansMyanmar';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/NotoSansMyanmar/ExtraBold.ttf') format('truetype');
  font-weight: ExtraBold;
  font-style: ExtraBold;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSansMyanmar';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/NotoSansMyanmar/ExtraLight.ttf') format('truetype');
  font-weight: ExtraLight;
  font-style: ExtraLight;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSansMyanmar';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/NotoSansMyanmar/Light.ttf') format('truetype');
  font-weight: Light;
  font-style: Light;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSansMyanmar';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/NotoSansMyanmar/Medium.ttf') format('truetype');
  font-weight: Medium;
  font-style: Medium;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSansMyanmar';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/NotoSansMyanmar/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSansMyanmar';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/NotoSansMyanmar/SemiBold.ttf') format('truetype');
  font-weight: SemiBold;
  font-style: SemiBold;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSansMyanmar';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/NotoSansMyanmar/Thin.ttf') format('truetype');
  font-weight: Thin;
  font-style: Thin;
  font-display: swap;
}

@font-face {
  font-family: 'MyanmarPaOh';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/MyanmarPaOh/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'NK_SSmart3';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/NK_SSmart3/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MyanmarText';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/MyanmarText/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'Asoka';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/Asoka/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MyanmarJojarPro';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/MyanmarJojarPro/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'ZawgyiOne';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/ZawgyiOne/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'M-Myanmar1';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/M-Myanmar1/Bold.ttf') format('truetype');
  font-weight: Bold;
  font-style: Bold;
  font-display: swap;
}

@font-face {
  font-family: 'M-Myanmar1';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/M-Myanmar1/Normal.ttf') format('truetype');
  font-weight: Normal;
  font-style: Normal;
  font-display: swap;
}

@font-face {
  font-family: 'M-Myanmar2';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/M-Myanmar2/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'Kannaka';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/Kannaka/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'WinTaungyi';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/WinTaungyi/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'WinTaungyi';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/WinTaungyi/Bold.ttf') format('truetype');
  font-weight: Bold;
  font-style: Bold;
  font-display: swap;
}

@font-face {
  font-family: 'WinSittway';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/WinSittway/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'WinKalaw';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/WinKalaw/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'WinKalaw';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/WinKalaw/Bold.ttf') format('truetype');
  font-weight: Bold;
  font-style: Bold;
  font-display: swap;
}

@font-face {
  font-family: 'WinInnwa';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/WinInnwa/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'WinInnwa';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/WinInnwa/Normal.ttf') format('truetype');
  font-weight: Normal;
  font-style: Normal;
  font-display: swap;
}

@font-face {
  font-family: 'CeCollection';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/CeCollection/ClassicNormal.ttf') format('truetype');
  font-weight: ClassicNormal;
  font-style: ClassicNormal;
  font-display: swap;
}

@font-face {
  font-family: 'CeCollection';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/CeCollection/ClassicRegular.ttf') format('truetype');
  font-weight: ClassicRegular;
  font-style: ClassicRegular;
  font-display: swap;
}

@font-face {
  font-family: 'CeCollection';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/CeCollection/ExcelMedium.ttf') format('truetype');
  font-weight: ExcelMedium;
  font-style: ExcelMedium;
  font-display: swap;
}

@font-face {
  font-family: 'CeCollection';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/CeCollection/ExcelNormal.ttf') format('truetype');
  font-weight: ExcelNormal;
  font-style: ExcelNormal;
  font-display: swap;
}

@font-face {
  font-family: 'CeCollection';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/CeCollection/FreehandNormal.ttf') format('truetype');
  font-weight: FreehandNormal;
  font-style: FreehandNormal;
  font-display: swap;
}

@font-face {
  font-family: 'CeCollection';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/CeCollection/HandWriteNormal.ttf') format('truetype');
  font-weight: HandWriteNormal;
  font-style: HandWriteNormal;
  font-display: swap;
}

@font-face {
  font-family: 'CeCollection';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/CeCollection/HorizontalThickBold.ttf') format('truetype');
  font-weight: HorizontalThickBold;
  font-style: HorizontalThickBold;
  font-display: swap;
}

@font-face {
  font-family: 'CeCollection';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/CeCollection/Normal.ttf') format('truetype');
  font-weight: Normal;
  font-style: Normal;
  font-display: swap;
}

@font-face {
  font-family: 'CeCollection';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/CeCollection/Outline.ttf') format('truetype');
  font-weight: Outline;
  font-style: Outline;
  font-display: swap;
}

@font-face {
  font-family: 'CeCollection';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/CeCollection/TitleNormal.ttf') format('truetype');
  font-weight: TitleNormal;
  font-style: TitleNormal;
  font-display: swap;
}

@font-face {
  font-family: 'CeCollection';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/CeCollection/TransparentBold.ttf') format('truetype');
  font-weight: TransparentBold;
  font-style: TransparentBold;
  font-display: swap;
}

@font-face {
  font-family: 'CeCollection';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/CeCollection/TrueOutlineNormal.ttf') format('truetype');
  font-weight: TrueOutlineNormal;
  font-style: TrueOutlineNormal;
  font-display: swap;
}

@font-face {
  font-family: 'WinPyinOoLwin';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/WinPyinOoLwin/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'WinMandalay';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/WinMandalay/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'WinYadanapon';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/WinYadanapon/Normal.ttf') format('truetype');
  font-weight: Normal;
  font-style: Normal;
  font-display: swap;
}

@font-face {
  font-family: 'MyaNanda';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/MyaNanda/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'karen-flower';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/karen-flower/Normal.ttf') format('truetype');
  font-weight: Normal;
  font-style: Normal;
  font-display: swap;
}

@font-face {
  font-family: 'WinHaka';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/WinHaka/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'WinHaka';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/WinHaka/Normal.ttf') format('truetype');
  font-weight: Normal;
  font-style: Normal;
  font-display: swap;
}

@font-face {
  font-family: 'ShwePro';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/ShwePro/BoldItalic.ttf') format('truetype');
  font-weight: BoldItalic;
  font-style: BoldItalic;
  font-display: swap;
}

@font-face {
  font-family: 'ShwePro';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/ShwePro/Condense_Normal.ttf') format('truetype');
  font-weight: Condense_Normal;
  font-style: Condense_Normal;
  font-display: swap;
}

@font-face {
  font-family: 'ShwePro';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/ShwePro/Expand_Normal.ttf') format('truetype');
  font-weight: Expand_Normal;
  font-style: Expand_Normal;
  font-display: swap;
}

@font-face {
  font-family: 'ShwePro';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/ShwePro/ExtraHeavy_Bold.ttf') format('truetype');
  font-weight: ExtraHeavy_Bold;
  font-style: ExtraHeavy_Bold;
  font-display: swap;
}

@font-face {
  font-family: 'ShwePro';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/ShwePro/Heavy_Bold.ttf') format('truetype');
  font-weight: Heavy_Bold;
  font-style: Heavy_Bold;
  font-display: swap;
}

@font-face {
  font-family: 'ShwePro';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/ShwePro/Hollow_Bold.ttf') format('truetype');
  font-weight: Hollow_Bold;
  font-style: Hollow_Bold;
  font-display: swap;
}

@font-face {
  font-family: 'ShwePro';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/ShwePro/Italic.ttf') format('truetype');
  font-weight: Italic;
  font-style: Italic;
  font-display: swap;
}

@font-face {
  font-family: 'ShwePro';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/ShwePro/Medium_Bold.ttf') format('truetype');
  font-weight: Medium_Bold;
  font-style: Medium_Bold;
  font-display: swap;
}

@font-face {
  font-family: 'ShwePro';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/ShwePro/MediumHollow_Bold.ttf') format('truetype');
  font-weight: MediumHollow_Bold;
  font-style: MediumHollow_Bold;
  font-display: swap;
}

@font-face {
  font-family: 'ShwePro';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/ShwePro/Ribbon_BoldItalic.ttf') format('truetype');
  font-weight: Ribbon_BoldItalic;
  font-style: Ribbon_BoldItalic;
  font-display: swap;
}

@font-face {
  font-family: 'ShwePro';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/ShwePro/Serif_Bold.ttf') format('truetype');
  font-weight: Serif_Bold;
  font-style: Serif_Bold;
  font-display: swap;
}

@font-face {
  font-family: 'ShwePro';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/ShwePro/Tall_Normal.ttf') format('truetype');
  font-weight: Tall_Normal;
  font-style: Tall_Normal;
  font-display: swap;
}

@font-face {
  font-family: 'ShwePro';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/ShwePro/Wide_Bold.ttf') format('truetype');
  font-weight: Wide_Bold;
  font-style: Wide_Bold;
  font-display: swap;
}

@font-face {
  font-family: 'Suukyi';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/Suukyi/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'WinLoikaw';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/WinLoikaw/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'WinPhaan';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/WinPhaan/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'WinMawlamyine';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/WinMawlamyine/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'WinKyaukTan';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/WinKyaukTan/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'WinKyaukTan';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/WinKyaukTan/Normal.ttf') format('truetype');
  font-weight: Normal;
  font-style: Normal;
  font-display: swap;
}

@font-face {
  font-family: 'WinKyaukTan';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/WinKyaukTan/A.ttf') format('truetype');
  font-weight: A;
  font-style: A;
  font-display: swap;
}

@font-face {
  font-family: 'WinInnLay';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/WinInnLay/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'WinInnLay';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/WinInnLay/Normal.ttf') format('truetype');
  font-weight: Normal;
  font-style: Normal;
  font-display: swap;
}

@font-face {
  font-family: 'WinInnLay';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/WinInnLay/A.ttf') format('truetype');
  font-weight: A;
  font-style: A;
  font-display: swap;
}

@font-face {
  font-family: 'WinKyaeMone';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/WinKyaeMone/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'WinKyaeMone';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/WinKyaeMone/A.ttf') format('truetype');
  font-weight: A;
  font-style: A;
  font-display: swap;
}

@font-face {
  font-family: 'WinThanLyin';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/WinThanLyin/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'WinThanLyin';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/WinThanLyin/A.ttf') format('truetype');
  font-weight: A;
  font-style: A;
  font-display: swap;
}

@font-face {
  font-family: 'WinBago';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/WinBago/A.ttf') format('truetype');
  font-weight: A;
  font-style: A;
  font-display: swap;
}

@font-face {
  font-family: 'U4AhLone';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/U4AhLone/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'U4Bahan';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/U4Bahan/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'U4DagonMyoThit';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/U4DagonMyoThit/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'U4KaMarYut';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/U4KaMarYut/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'U4LanMaDaw';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/U4LanMaDaw/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'U4LaTha';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/U4LaTha/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'U4Mingalardon';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/U4Mingalardon/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'U4PaZunDaung';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/U4PaZunDaung/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'U4ThaKeTa';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/U4ThaKeTa/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'WinMonotype';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/WinMonotype/A.ttf') format('truetype');
  font-weight: A;
  font-style: A;
  font-display: swap;
}

@font-face {
  font-family: 'WinThanLwin';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/WinThanLwin/Bold.ttf') format('truetype');
  font-weight: Bold;
  font-style: Bold;
  font-display: swap;
}

@font-face {
  font-family: 'MasterpieceDesign';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/MasterpieceDesign/Bold.ttf') format('truetype');
  font-weight: Bold;
  font-style: Bold;
  font-display: swap;
}

@font-face {
  font-family: 'MasterpieceDesign';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/MasterpieceDesign/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MasterpieceDesignOutline';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/MasterpieceDesignOutline/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MasterpieceDiploma';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/MasterpieceDiploma/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MasterpieceDiplomaOutline';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/MasterpieceDiplomaOutline/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MasterpieceFreehand';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/MasterpieceFreehand/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MasterpieceHand';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/MasterpieceHand/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MasterpieceKids';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/MasterpieceKids/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MasterpieceNormal';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/MasterpieceNormal/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MasterpieceNormal';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/MasterpieceNormal/Bold.ttf') format('truetype');
  font-weight: Bold;
  font-style: Bold;
  font-display: swap;
}

@font-face {
  font-family: 'MasterpieceNormalOutline';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/MasterpieceNormalOutline/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MasterpieceOctagon';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/MasterpieceOctagon/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MasterpieceOctagonOutline';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/MasterpieceOctagonOutline/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MasterpieceOctagonCrack';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/MasterpieceOctagonCrack/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MasterpieceOval';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/MasterpieceOval/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MasterpieceRound';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/MasterpieceRound/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MasterpieceRound';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/MasterpieceRound/Bold.ttf') format('truetype');
  font-weight: Bold;
  font-style: Bold;
  font-display: swap;
}

@font-face {
  font-family: 'MasterpieceShade';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/MasterpieceShade/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MasterpieceShadeOutline';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/MasterpieceShadeOutline/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MasterpieceStroke';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/MasterpieceStroke/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MasterpieceStrokeTwin';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/MasterpieceStrokeTwin/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MasterpieceV0Stroke';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/MasterpieceV0Stroke/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'WinHeho';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/WinHeho/A.ttf') format('truetype');
  font-weight: A;
  font-style: A;
  font-display: swap;
}

@font-face {
  font-family: 'WinLaSho';
  src: url('https://raw.githubusercontent.com/Kaung-Htet-Naing/MMfonts/develop/public/fonts/WinLaSho/A.ttf') format('truetype');
  font-weight: A;
  font-style: A;
  font-display: swap;
}