@font-face {
  font-family: 'Myanmar-3';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/Myanmar3/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'Padauk';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/Padauk/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'Pyidaungsu';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/Pyidaungsu/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'Pyidaungsu';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/Pyidaungsu/Bold.ttf') format('truetype');
  font-weight: Bold;
  font-style: Bold;
  font-display: swap;
}

@font-face {
  font-family: 'Pyidaungsu';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/Pyidaungsu/Numbers.ttf') format('truetype');
  font-weight: Numbers;
  font-style: Numbers;
  font-display: swap;
}

@font-face {
  font-family: 'Win-Uni-Innwa';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/WinUniInna/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'Uni-Burma';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/UniBurma/Medium.ttf') format('truetype');
  font-weight: Medium;
  font-style: Medium;
  font-display: swap;
}

@font-face {
  font-family: 'Uni-Burma';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/UniBurma/FreeHand.ttf') format('truetype');
  font-weight: FreeHand;
  font-style: FreeHand;
  font-display: swap;
}

@font-face {
  font-family: 'Uni-Burma';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/UniBurma/FFSerif.ttf') format('truetype');
  font-weight: FFSerif;
  font-style: FFSerif;
  font-display: swap;
}

@font-face {
  font-family: 'Uni-Burma';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/UniBurma/Medium_Serief.ttf') format('truetype');
  font-weight: Medium_Serief;
  font-style: Medium_Serief;
  font-display: swap;
}

@font-face {
  font-family: 'Uni-Burma';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/UniBurma/Regular_MSSerif.ttf') format('truetype');
  font-weight: Regular_MSSerif;
  font-style: Regular_MSSerif;
  font-display: swap;
}

@font-face {
  font-family: 'Tharlon';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/Tharlon/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'WinResearcher';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/WinResearcher/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'WinYangon';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/WinYangon/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'AungSan';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/AungSan/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'ShweThway';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/ShweThway/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'KingYoma';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/KingYoma/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'WinMap';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/WinMap/Normal.ttf') format('truetype');
  font-weight: Normal;
  font-style: Normal;
  font-display: swap;
}

@font-face {
  font-family: 'MyanmarYinmar';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/MyanmarYinmar/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MyanmarAhgoun';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/MyanmarAhgoun/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MyanmarChatu';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/MyanmarChatu/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MyanmarChatu';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/MyanmarChatu/Light.ttf') format('truetype');
  font-weight: Light;
  font-style: Light;
  font-display: swap;
}

@font-face {
  font-family: 'MyanmarGantgaw';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/MyanmarGantgaw/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MyanmarKhyay';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/MyanmarKhyay/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MyanmarKuttar';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/MyanmarKuttar/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MyanmarNayone';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/MyanmarNayone/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MyanmarNjaun';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/MyanmarNjaun/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MyanmarPauklay';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/MyanmarPauklay/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MyanmarPhetsot';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/MyanmarPhetsot/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MyanmarPhiksel';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/MyanmarPhiksel/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MyanmarPhiksel';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/MyanmarPhiksel/Smooth.ttf') format('truetype');
  font-weight: Smooth;
  font-style: Smooth;
  font-display: swap;
}

@font-face {
  font-family: 'MyanmarPonenyet';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/MyanmarPonenyet/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MyanmarSabae';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/MyanmarSabae/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MyanmarSagar';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/MyanmarSagar/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MyanmarSanpya';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/MyanmarSanpya/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MynmarSansPro';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/MyanmarSansPro/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MyanmarSquareLight';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/MyanmarSquareLight/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MyanmarTagu';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/MyanmarTagu/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MyanmarThuriya';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/MyanmarThuriya/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MyanmarWaso';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/MyanmarWaso/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'SM07_Virus';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/SM07_Virus/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSansMyanmar';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/NotoSansMyanmar/Black.ttf') format('truetype');
  font-weight: Black;
  font-style: Black;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSansMyanmar';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/NotoSansMyanmar/Bold.ttf') format('truetype');
  font-weight: Bold;
  font-style: Bold;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSansMyanmar';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/NotoSansMyanmar/ExtraBold.ttf') format('truetype');
  font-weight: ExtraBold;
  font-style: ExtraBold;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSansMyanmar';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/NotoSansMyanmar/ExtraLight.ttf') format('truetype');
  font-weight: ExtraLight;
  font-style: ExtraLight;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSansMyanmar';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/NotoSansMyanmar/Light.ttf') format('truetype');
  font-weight: Light;
  font-style: Light;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSansMyanmar';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/NotoSansMyanmar/Medium.ttf') format('truetype');
  font-weight: Medium;
  font-style: Medium;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSansMyanmar';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/NotoSansMyanmar/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSansMyanmar';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/NotoSansMyanmar/SemiBold.ttf') format('truetype');
  font-weight: SemiBold;
  font-style: SemiBold;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSansMyanmar';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/NotoSansMyanmar/Thin.ttf') format('truetype');
  font-weight: Thin;
  font-style: Thin;
  font-display: swap;
}

@font-face {
  font-family: 'MyanmarPaOh';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/MyanmarPaOh/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MyanmarText';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/MyanmarText/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'Asoka';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/Asoka/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MyanmarJojarPro';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/MyanmarJojarPro/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'PadaukSagar';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/PadaukSagar/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'PadaukKyaungChee';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/PadaukKyaungChee/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'PadaukGrandProV2';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/PadaukGrandProV2/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'PadaukGhost';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/PadaukGhost/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'PadaukSgaw';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/PadaukSgaw/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'PadaukSgaw';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/PadaukSgaw/Bold.ttf') format('truetype');
  font-weight: Bold;
  font-style: Bold;
  font-display: swap;
}

@font-face {
  font-family: 'PadaukBookSgaw';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/PadaukBookSgaw/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'PadaukBookSgaw';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/PadaukBookSgaw/Bold.ttf') format('truetype');
  font-weight: Bold;
  font-style: Bold;
  font-display: swap;
}

@font-face {
  font-family: 'NamKhoneGrand';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/NamKhoneGrand/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'NamKhoneSSmart2';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/NamKhoneSSmart2/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'NamKhoneSSmart3';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/NamKhoneSSmart3/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'NamKhoneSSmart4';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/NamKhoneSSmart4/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'NamKhoneUnicode';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/NamKhoneUnicode/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'NamKhoneWebPro';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/NamKhoneWebPro/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'YoeYarOne';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/YoeYarOne/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'YoeYarOne';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/YoeYarOne/Light.ttf') format('truetype');
  font-weight: Light;
  font-style: Light;
  font-display: swap;
}

@font-face {
  font-family: 'YoeYarOne';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/YoeYarOne/Bold.ttf') format('truetype');
  font-weight: Bold;
  font-style: Bold;
  font-display: swap;
}

@font-face {
  font-family: 'ArialZawgyi';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/ArialZawgyi/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'Bit';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/Bit/Medium.ttf') format('truetype');
  font-weight: Medium;
  font-style: Medium;
  font-display: swap;
}

@font-face {
  font-family: 'CherryUnicode';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/CherryUnicode/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'JasmineUnicode';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/JasmineUnicode/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'Mon3Anonta1';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/Mon3Anonta1/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MyanmarBlack';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/MyanmarBlack/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MyanmarCensus';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/MyanmarCensus/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MyanmarPaOhRosemary';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/MyanmarPaOhRosemary/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MyanmarPunk';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/MyanmarPunk/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MyanmarSquare';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/MyanmarSquare/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MyanmarTaungyi';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/MyanmarTaungyi/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'MyanmarTextMelano';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/MyanmarTextMelano/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'PangLong';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/PangLong/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'SamsungMyanmar';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/SamsungMyanmar/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'ShanUnicode';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/ShanUnicode/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}

@font-face {
  font-family: 'ThanLwinUnicode';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/ThanLwinUnicode/Medium.ttf') format('truetype');
  font-weight: Medium;
  font-style: Medium;
  font-display: swap;
}

@font-face {
  font-family: 'Yunghkio';
  src: url('https://raw.githubusercontent.com/Digit-House/MMfonts/develop/public/data/fonts/Yunghkio/Regular.ttf') format('truetype');
  font-weight: Regular;
  font-style: Regular;
  font-display: swap;
}